/* reset  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.calculator{
    box-shadow: 0 5px 8px rgba(0,0,0,0.5);
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(4,5rem);
    background-color:#003566;
    border-radius: 0.4rem;
}
input{
    grid-column: span 4;
    height: 3.5rem;
    box-shadow: 0 5px 7px rgba(0,0,0,0.5);
    border: none;
    margin: 1rem;
    text-align: end;
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
}

button{
    margin: 0.5rem;
    padding: 1rem 0.5rem;
    box-shadow: 0 6px 8px rgba(0,0,0,0.3);
    border: none;
    border-radius: 0.2rem;
    cursor: pointer;
    font-size: 1.1rem;
}
button:hover{
    background-color:#03045e ;
    color: white;
}
button:last-child{
    grid-column: span 2;
}
