/* reset  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

/* utilities */

.container{
    padding: 1rem 10%;
}

header{
    background-image: url("./img/apj.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: end;
    justify-content: center;
}
header h1{
    color: white;
    font-size: 5rem;
}

main{
    padding: 5%;
    border: 1px solid lightgray;
    box-shadow: 6px 6px 8px rgba(0,0,0,0.3),-6px -6px 8px rgba(255,255,255,0.7);
}
main h2{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1rem;
}
main p{
    font-size: 1.2rem;
    padding: 1rem;
}
footer{
    margin: 1.5rem;
    text-align: center;
}